.slide{
    width: 100vw;
    height: 100vh;
}
.wrapper{
    display: flex;
    flex-direction: row;
    width: 400vw;
    transform: rotate(90deg) translateY(-100vh);
    transform-origin: top left;
}
.outer-wrapper{
    width: 100vh;
    height: 100vw;
    transform: rotate(-90deg)translateX(-100vh);
    transform-origin: top left;
    overflow-x: hidden;
    position: absolute;
    
}

/*css3 design scrollbar*/
::-webkit-scrollbar {
    width: 10px;
}
 
::-webkit-scrollbar-track {     
    background: #fff;    
}
 
::-webkit-scrollbar-thumb {
    background: #35A9DB;
    border-radius:10px;
}